<div style="padding: 10px; text-align: center;">

	<div class="container" style="width: 450px; text-align: left;">
		<div class="addValueMessage" ng-class="{'messageSuccess': status == 0, 'messageError': status == 2}" style="margin-bottom: 5px;">
			<span class="glyphicon" ng-class="{'glyphicon-pencil': status == 1, 'glyphicon-ok': status == 0, 'glyphicon-remove': status == 2}">
			</span> 
			{{message}}
		</div>
		
		<div ng-class="status == 0 ? 'hideElement' : 'showElement'" style="width: 100%">
		
			<div class="form-group">
	            <label for="newPassword" class="control-label">New Password</label>
	            <input class="form-control" type="password" id="newPassword" ng-model="newPassword" placeholder="Password" required/>
		     </div>
		     
		     <div class="form-group">
	            <label for="confirmPassword" class="control-label">Confirm Password</label>
	            <input class="form-control" type="password" id="confirmPassword" ng-model="confirmPassword" placeholder="Password" required/>
		     </div>
		     
		     <div>
		     	<button class="btn btn-primary" ng-click="resetPassword()"  ng-disabled="status != 1">Reset</button>
	    		<button class="btn" style="margin-left: 10px;" ng-click="cancelReset()">Cancel</button>
	    	 </div>
		
		</div>
		
		<div ng-class="status == 0 ? 'showElement' : 'hideElement'">
		
    		<a href="#" ng-click="showSignIn($event)">Proceed to Sign In</a> 
    		
		</div>
		
	</div>
 
    
</div>