<div style="padding: 10px; height: 100%;">
       
    <div ng-hide="observed.length == 0" style="height: 100%;">  
    
	    <section style="padding-bottom: 5px; padding-top: 10px;">
	    	
	    	<span class="form-label" style="display: block; padding: 0 0 3px 0;">Observed</span>
	    	
	    	<select name="observed" id="observed" ng-model="observedId" ng-change="changeObserved()" style="width: 200px;">
				<option ng-repeat="option in observed" value="{{option.strId}}">{{option.observedNm}}</option>
			</select>
			
			
			<span class="submitBtn logExport" ng-click="exportLog($event)" title="Export Log for Observed">
			Export
			</span>
			
	    	
	    </section>
	    
	    <div id="incidentGrid" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-pinning ui-grid-selection></div>
    
    </div>
    
    <div ng-hide="observed.length > 0">
    	User has no access Observed that allow Log viewing
    </div>
</div>