<div style="padding: 10px; height: 100%;">
       
    <div ng-hide="observed.length == 0" style="height: 100%;">  
    
       
	    <div class="row">
     		
     		<div class="col-sm-3">
     		
				<div class="form-group">
					<label for="observedSel">Observed</label>
				  	<select id="observedSel" ng-model="observedId" ng-change="changeObserved()" class="form-control" style="width: 300px;">
						<option ng-repeat="option in observed" value="{{option.strId}}">{{option.observedNm}}</option>
					</select>
				</div> 
			
			</div>
			
			<div class="col-sm-9" style="padding-top: 25px;">
			
				<button class="btn btn-primary" ng-click="exportLog($event)" uib-tooltip="Export Log for {{currentObserved.observedNm}}">Data Sheet</button>
				
			</div>
		
		</div> <!--  End Select Observed Row -->
	    
	    <div id="incidentGrid" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-pinning ui-grid-selection></div>
    
    </div>
    
    <div ng-hide="observed.length > 0">
    	User has no access Observed that allow Log viewing
    </div>
</div>