<div id="header">
    <div class="titleText">
			my
	</div>
	
	<div id="titleImage"></div>
	
	<div class="titleText">
		data
	</div>
		
	<div id="links">
		
		<div id="signInLinks" ng-class="user.signInStatus == 0 ? 'hideDiv' : 'showDiv'">
		
			<button class="btn btn-link" style="color: white;" ng-click="showSignIn()">Sign In</button>
			
			<button class="btn btn-link" style="color: white; margin-right: 10px;" ng-click="showRegister()">Register</button>
			
		</div>	
		
		<div id="signOutLinks" ng-class="user.signInStatus == 0 ? 'showDiv' : 'hideDiv'">
		
			<button class="btn btn-link" style="color: white;" ng-click="signOut()">Sign Out</button>
			
		</div>
		
	</div>
         
</div>

<div ng-class="user.signInStatus == 0 ? 'showDiv' : 'hideDiv'" style="width: 100%; margin-top: 5px;">
	<ul class="nav nav-tabs">
	    <li ng-class="{ 'active': selectedTab == 'home'}"><a href="#" ng-click="navigate($event, 'home')"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
	    <li ng-class="{ 'active': selectedTab == 'log'}"><a href="#" ng-click="navigate($event, 'log')"><span class="glyphicon glyphicon-list"></span> Log</a></li>
	    <li ng-class="{ 'active': selectedTab == 'entry'}"><a href="#" ng-click="navigate($event, 'entry')"><span class="glyphicon glyphicon-plus"></span> Entry</a></li>
	    <li ng-class="{ 'active': selectedTab == 'settings'}"><a href="#" ng-click="navigate($event, 'settings')"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
	</ul>
</div>









