<div style="padding: 10px; text-align: center;">

	<div class="container" style="width: 450px; text-align: left;">

	<div class="addValueMessage" ng-class="{'messageSuccess': status == 0, 'messageError': status == 2}" ng-hide="showForgotSection == 1" style="margin-bottom: 5px;">
			<span class="glyphicon" ng-class="{'glyphicon-user': status == 1, 'glyphicon-ok': status == 0, 'glyphicon-remove': status == 2}">
			</span> 
			{{message}}
	</div>
    
    <div ng-class="showForgotSection == 0 ? 'showDiv' : 'hideDiv'" style="width: 100%;">	
    
	    <div class="form-group">
	        <label for="username" class="control-label">Username</label>
	        <input class="form-control" type="text" id="username" ng-model="user.username" ng-keyup="enableSignIn($event)" placeholder="Username" required/>
	    </div>
	    
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input class="form-control" type="password" id="password" ng-model="user.password" ng-keyup="enableSignIn($event)" placeholder="Password" required/>
       	</div>
        
        <div>
        	<button class="btn btn-primary" ng-click="signIn()" ng-disabled="signInDisabled">Sign In</button>
        	
        	<button class="btn" style="margin-left: 10px;" ng-click="cancelSignIn()">Cancel</button>
        </div>
        
    	<div class="forgotSection">
    		<a href="#" ng-click="showForgetSection($event, 'Username')">Forgot Username?</a>
    	</div>
    	<div class="forgotSection">
			<a href="#" ng-click="showForgetSection($event, 'Password')">Forgot Password?</a>
		</div>
	 </div>
         
	  	<div ng-class="showForgotSection == 1 ? 'showDiv' : 'hideDiv'">	
	    
	    	<div style="margin-bottom: 10px;">{{forgotMessage}}</div>
	    	
	    	<div class="form-group">
		        <label for="forgotEmail" class="control-label">Email</label>
		        <input type="text" class="form-control" id="forgotEmail" ng-model="forgotEmail" ng-keyup="enableSend($event)"/>
		     </div>
		     
		     <div>
		      
		       	<button class="btn btn-primary" ng-disabled="sendDisabled" ng-click="sendForgot()">Send</button>
	    		<button class="btn" style="margin-left: 10px;" ng-click="cancelForgot()">Cancel</button>
        	</div>
	    	
	  </div>
    
    </div>
    
</div>